<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="eos_vue_authenticate_login"
           controller="Eos\Bundle\VueAuthenticate\Controller\InternalUserController::login"
           methods="POST"
           path="/auth/login"/>

    <route id="eos_vue_authenticate_registration"
           controller="Eos\Bundle\VueAuthenticate\Controller\InternalUserController::register"
           methods="POST"
           path="/auth/register"/>

    <route id="eos_vue_authenticate_twitter"
           controller="Eos\Bundle\VueAuthenticate\Controller\TwitterController::authenticate"
           methods="POST"
           path="/auth/twitter"/>

    <route id="eos_vue_authenticate_google"
           controller="Eos\Bundle\VueAuthenticate\Controller\GoogleController::authenticate"
           methods="POST"
           path="/auth/google"/>

    <route id="eos_vue_authenticate_facebook"
           controller="Eos\Bundle\VueAuthenticate\Controller\FacebookController::authenticate"
           methods="POST"
           path="/auth/facebook"/>
</routes>
